# --- Python Artifacts  ---
__pycache__/
*.py[cod]

# --- Virtual Environment  ---
.venv/
venv/
env/

# --- Secrets ---
.env

# --- Logs & Activity ---
logs/
*.log


# --- IDE Settings ---
.vscode/
.idea/

# --- OS Files  ---
.DS_Store
Thumbs.db